# NPM Ignore

# ignore everything
*

# ... but these files
!/package.json
!/bower.json
!/README.md
!/API-reference.md
!/JavaScript/JavaScriptSDK.Module/AppInsightsModule.js
!/dist/ai.js
!/dist/ai.0.js