# NPM Ignore

# ignore everything
*

# ... but these files
!/package.json
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/README.md
!/SECURITY.md
!/SUPPORT.md
!/NOTICE
!/PRIVACY
!/LICENSE
!/LICENSE.TXT
!/API-reference.md
!/bundle/ai.module.*
!/dist/ai.js
!/dist/ai.js.map
!/dist/ai.0.js
!/dist/ai.0.js.map