registry=https://pkgs.dev.azure.com/mseng/_packaging/ApplicationInsights-Team/npm/registry/

always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/3/2019.

; begin auth token

//pkgs.dev.azure.com/mseng/_packaging/ApplicationInsights-Team/npm/registry/:_authToken=${REGISTRY}

//pkgs.dev.azure.com/mseng/_packaging/ApplicationInsights-Team/npm/:_authToken=${NPM}

; end auth token