<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--  This file belongs into the EnlistmentRoot folder next to EnlistmentRoot.marker.     -->
    <!--  See the comments in Global.props for explanations.                                  -->
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
        <add key="repositoryPath" value="..\packages" />
    </config>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>