# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main, master, beta, Release2.7, release-3.0 ]
  pull_request:
    branches: [ main, master, beta, Release2.7, release-3.0 ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14, 16, 18, 20 ]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update rush shrinkwrap dependencies (for different node versions)
      run: node common/scripts/install-run-rush.js update --full
    - run: npm install rollup -g
    - run: npm install grunt-cli
    - run: npm install
    - run: node common/scripts/install-run-rush.js check
    - run: node common/scripts/install-run-rush.js install
    - run: npm run build --verbose
      timeout-minutes: 20
    - run: npm run test --verbose
      timeout-minutes: 30
