# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, beta, Release2.7 ]
  pull_request:
    branches: [ master, beta, Release2.7 ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install rollup -g
    - run: npm install grunt-cli
    - run: npm install
    - run: rush check
    - run: npm run build --verbose
      timeout-minutes: 10
    - run: npm run test --verbose
      timeout-minutes: 15
