# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main, master, beta, Release2.7, release-3.0, otel-sdk ]
  pull_request:
    branches: [ main, master, beta, Release2.7, release-3.0, otel-sdk ]
  merge_group:
    branches: [ "main", "master", "beta", "Release*", "release*", "*-legacy", "legacy-v1" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16, 18, 20 ]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update rush shrinkwrap dependencies (for different node versions)
      run: node common/scripts/install-run-rush.js update --full --recheck
    - run: npm install rollup -g
    - run: npm install grunt-cli
    - run: npm install
    - run: node common/scripts/install-run-rush.js check
    - run: node common/scripts/install-run-rush.js update --full --recheck
    - name: Build packages
      run: npm run build
      timeout-minutes: 20
      # TODO: Add tests back with new infrastructure
    # - name: Test packages
    #   run: npm run test
      timeout-minutes: 30
